<!-- This is a static page to display an about us page -->
<div class='aboutPage'>
    <p class='aboutTitle'>About PlateSwap</p>

    <div class='aboutContent'>
	   <p>Food Swaps have become more and more popular in Atlanta as well as across the country. PlateSwap is a web app that enables homemade food lovers to browse and swap their creations online.</p>
	       <strong class='boldText'> What is a food swap? </p>
	   <p>A food swap is an event where members of a community share homemade, homegrown, or foraged goods with each other. Swaps allow direct trades to take place between participants (i.e. a loaf of bread for a jar of pickles). Swaps are a great way to diversify the homemade foods in your own pantry and make some friends.
	   (Source: FoodSwapNetwork.com)<br><br></p>
	        <strong class='boldText'> How does PlateSwap work?</strong><br>
	   <p>If you have a specialty homemade item that you want to share with others, you can post an offer online on PlateSwap. Each offer that you post must include 10 of each item. For every type of offer you post, you'll get 10 tokens to use to claim one of another participant's posted items (1 token = 1 claimed item).</p>
    </div>
</div>
