<div>
  <h1> this is your profile </h1>
  <a ui-sref="items"> << Back to view all items</a>
  </br>
  <div>
    <a ui-sref="itemsNew"><button>Create New Offer</button></a>
  </div>
  <div class="user-items col-md-4" ng-repeat="item in $ctrl.items">
    <li><strong>{{item.title}}</strong></li>
    <li>Description: {{item.description}}</li>
    <li>Location: {{item.city}}, {{item.state}}</li>
    <span ng-click="item.isEditing=true"><button>Edit</button></span>
    <button>Delete</button>
      <form ng-show="item.isEditing" ng-submit="$ctrl.updateItem(item)">
        <div>
          <label for="new-item-title">Title</label>
            <input type="text" id="new-item-title" ng-model='item.title'><br>
          <label for="new-item-description">Description</label>
            <input type="text" id="new-item-description" ng-model='item.description'><br>
          <label for="new-item-city">City</label>
            <input type="text" id="new-item-city" ng-model='item.city'><br>
          <label for="new-item-state">State</label>
            <input type="text" id="new-item-state" ng-model='item.state'><br>
            <input type="submit" value="Update Item">
        </div>
</div>
</div>
