/* HOMEPAGE */
/* Font's We're using */
/*font-family: 'Palanquin Dark', sans-serif;*/
/*font-family: 'Dosis', sans-serif;*/
body {
  height: 100%;
}

.homePage {
  text-align: center;
  width: 100%;
  height: 600px;
  background-image: url("http://i.imgur.com/btM9sJO.jpg");
  background-size: cover;
  padding-top: 30px;
}

.indexTitle {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 80px;
  color: white;
}

.logo {
  position: flex;
  margin: 15px auto 0px auto;
  width: 150px;
  height: 100px;
  background-color: white;
}

.navBar {
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  text-align: center;
  position: flex;
  padding-bottom: 15px;
  padding-top: -10px;
  margin-top: -5px;
  text-decoration: none;
}
/* ----- Navigation Bar -----*/

/* --------------------------*/

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 750px;
  height: 200px;
  background-color: none;
}
.footer2 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 800px;
  height: 200px;
  background-color: none;
}

footer {
  padding-top: 25px;
  height: 500px;
  background-color: #E9B000;
}

.name {
  margin: 0 auto;
  padding: 15px 0px 15px 0px;
  display: flex;
  justify-content: space-between;
}

div p {
  margin: 0 auto;
}

.contributers {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  float: left;
  width: 200px;
  height: 200px;
  text-align: center;
}


.name {
  margin-top: 30px;
  font-family: 'Palanquin Dark', sans-serif;
  font-size:25px;
  color: white;
  display: flex;
  justify-content: space-between;
}
/* ------ Home.html ------ */
/* ??? how not to affect child divs for opacity */
.signup {
  width: 400px;
  width: 350px;
  background-color
  width:300px;
  height:300px;
  position:relative;
  border:1px solid red;
}

/* ------ Home.html ------ */

/*Posting Gallery Index Page*/

.posting-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.posting-card {
  background: #e5ffe5;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.posting-username {
  margin-top: 7px;
}


/*Specfic user items index*/
.items {
  background: green;
}

.card-area {
  background: #d9d9d9;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.user-items, .item-card {
  background: white;
  margin: 15px;
  padding: 15px;
  width: 275px;
  border-radius: 5px;
}

.user-items img {
  width: 100%;
  max-height: 300px;
}

.item-card img {
  width: 100%;
  max-height: 300px;
}

.user-items button {
  background: #008F95;
  border: none;
  color: white;
  margin-top: 4px;
  margin-bottom: 4px;
}

.user-items li {
  list-style-type: none;
}

.posting-title {
  font-family: 'Palanquin Dark';
  font-size: 17px;
  color: #008F95;
}

.posting-description {
  font-family: 'Dosis';
}

.posting-username {
  font-family: 'Dosis';
}

.posting-location {
  font-family: 'Dosis';
}

.posting-time {
  font-family: 'Dosis';
}

.card-area form {
  font-family: 'Dosis';
}

.items-header {
  background: #e24e42;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.items-header h1 {
  color: white;
  font-family: 'Palanquin Dark';
  font-size: 25px;
}

.items-header button {
  background: #f7ce3e;
  border: none;
  font-family: 'Palanquin Dark';
  color: #1a2930;
  font-size: 12px;
  padding: 8px;
  margin: 5px;
  border: 2px solid white;
}

.items-header input {
  font-family: 'Dosis';
  width: 60%;
  margin-top: 10px;
}

.left-section {
  width: 60%;
}

.right-section {
  width: 40%;
}

.comment-box {
  margin: 15px;
  padding: 15px;
  border: 2px solid gray;
  list-style-type: none;
}

.comment-textarea {
  width: 40%;
  margin: 15px;
}






.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*ABOUT PAGE*/
.aboutPage {
  text-align: center;
  width: 100%;
}
.aboutTitle{
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 60px;
}
.aboutContent p {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  max-width: 700px;
  width: 70%;
}
/* HOME PAGE */
.signup {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.signup h2 {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 1px #1A2930;
}
.submitBtn {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding-top: -10px;
  margin-top: 15px;
  margin-bottom: 30px;
}
input.inputForm {
  color: #E24E42;
  font-size: 20px;
  width: 250px;
  margin: 5px;
}
.signup {
  width: 400px;
  background-color: none;
  height:450px;
  position:relative;
  border:3px solid white;
  text-align: center;
  margin: 0 auto;
}
.ghost {
  background-color: transparent;
  color: white;
  border: 3px solid white;
  width: 100px;
  height: 50px;
  transition: .2s ease;
}
.ghost:hover {
    background-color: white;
    color: #E24E42;

    transition: .2s ease;
}
.login {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 1px #1A2930;
}
