<div class='items'>
  <h1>Items</h1>
    <a ui-sref='userShow({ userId: $ctrl.cookie })'><button>Manage Profile and Offers</button></a>
    <a ui-sref="itemsNew"><button>Create New Offer</button></a>

    <div ng-repeat="item in $ctrl.items">
      <a ui-sref='itemsShow({ itemId: item._id})'>
      <span class='posting-title'>{{item.title}}</span>
      </a>
      <br>
	   <span class='posting-description'>{{item.user.name}}</span>
	   <span class='posting-description'>{{item.description}}</span>
	<br><br>


    </div>

</div>
