<div>
  <div class='items-header'>
    <div class='left-section'>
  <h1>Browse Available Foods</h1>
    <input type='text' ng-model='searchString' placeholder='Search For Items'><br><br>
    </div>
    <div class='right-section'>
    <a ui-sref='userShow({ userId: $ctrl.cookie })'><button>Manage My Offers</button></a>
    <a ui-sref="itemsNew"><button>Create New Offer</button></a><br>
    <span class='token-counter'>Tokens remaining: <span ng-model='$ctrl.tokens'>{{$ctrl.tokens}}</span></span>
    </div>
  </div>
    <div class='card-area'>
      <div ng-repeat="item in $ctrl.items | filter:searchString | orderBy: '-created_at'" class="item-card">
        <div class='card-content'>
          <a ui-sref='itemsShow({ itemId: item._id})'>
          <img ng-src={{item.image}} alt="Description" />
          <div class='posting-title'>{{item.title}}</div></a>
          <div class='posting-description'>{{item.description}}</div>
      	   <div class='posting-username'><strong>Posted by:</strong> {{item.userName}}</div>
          <div class='posting-location'><strong>Location:</strong> {{item.city}}, {{item.state}}</div>
          <div class='posting-time'>Posted {{item.created_at| date: 'short'}}</div>
          <button ng-disabled="item.disabled || $ctrl.disabled" ng-click='$ctrl.claimThisItem(item)' class='claim-button' style="float:right">Claim</button>
        </div>
      </div>
    </div>
<div>
