<!-- This is a html to display a static Contact Developer page -->
<footer id='footer'>
    <div class='footer'>
        <div class='contributers'>
            <img style='height:200px' src='http://i.imgur.com/BxKQE5m.png'>
        </div>
        <div class='contributers'>
            <img style='height:200px' src='http://i.imgur.com/62Fj9m0.png'>
        </div>
        <div class='contributers'>
            <img style='height:200px' src='http://i.imgur.com/7fN6lye.png'>
        </div>
  </div>
  <div class='footer2'>
      <div class='name'><p>Erin Martin</p></div>
      <div class='name'><p>Harry Karambizi</p></div>
      <div class='name'><p>Sungmin Ro</p></div>
  </div>
  <div class='footer3'>
      <div class='github'><a href="https://github.com/deviea8/" target=_blank><p>GitHub<img src='http://i.imgur.com/yPOshs9.png'></p></div>
      <div class='github'><a href="https://github.com/hkarambizi/" target=_blank><p>GitHub<img src='http://i.imgur.com/yPOshs9.png'></p></div>
      <div class='github'><a href="https://github.com/tjdals504/" target=_blank><p>GitHub<img src='http://i.imgur.com/yPOshs9.png'></p></div>
  </div>
</footer>

